#approve-button {
    background-image: linear-gradient(to bottom, #e24c3e 0%, #e24c3e 16.66667%, #f47d3b 16.66667%, #f47d3b 33.33333%, #fdb813 33.33333%, #fdb813 50%, #74bb5d 50%, #74bb5d 66.66667%, #38a6d7 66.66667%, #38a6d7 83.33333%, #8c7ab8 83.33333%, #8c7ab8 100% );
}

#approve-button:hover:not([disabled]) {
    box-shadow: 0 0 5px #aaa;
}

#approve-button > span {
    color: white;
    font-size: 0;
}

#approve-button > span::after {
    display: inline;
    content: 'Vote yes!';
    font-size: 14px;
}

#approve-button[disabled] {
    opacity: 0.6;
}

#approve-button[disabled] > span {
    color: #ddd;
}

[data-has-current-user-approved="true"] > #approve-button > span::after {
	content: 'Unapprove';
}
